* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
:root {
    --tela: black;
    --botão: url(./sol.svg);
    --fundo: rgb(255, 255, 255, 0.1);
    --borda: rgb(255, 255, 255, 0.5);
    --texto: white;
}
.claro {
    --tela: white;
    --botão: url(./lua.svg);
    --fundo: rgb(0, 0, 0, 0.05);
    --borda: rgb(0, 0, 0, 0.5);
    --texto: black;
}

body {
    background-color: var(--tela);
}

#texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 0 2vh;
    font-size: 20px;
    color: var(--texto);
}
#botão {
    position: relative; /*esse position relativisa outros position; como o do botton abaixo; assim o "absolute" de position abaixo, só funcionará dentro da área do width de 66px*/
    width: 66px;
    margin: 4px auto;
}
#botão button {
    height: 32px;
    width: 32px;
    background: white var(--botão) no-repeat /*não repita a imagem*/ center /*posicione ela no centro*/;
    border: 0;
    border-radius: 50%;
  
    position: absolute; /*position:absolute, sobrepõem o elemento sobre outros*/
    z-index: 1; /*com z-index, o elemento é colocado na camada 1*/
    left: 0; /*coloca o button na posição 0 do lado esquerdo; totalmente no canto do lado esquerdo da área do botão que foi estabelecida acima*/
  
    /*um truque matemático: o botão não está alinhado a barrinha (span), então top: 50%, obriga ele a ficar esse tanto porcento acima da barra, e com "tranform..." o obrigamos a descer essa quantidade, assim alinhando o botton à barrinha*/
    top: 50%;
    transform: translateY(-50%);
  
    animation: deslizamentoVolta 0.4s; /*a animação do keiframe lá em baixo será de 4 seg.*/
}
.claro #botão button {
    animation: deslizamento 0.4s forwards; /*a animação do keiframe lá em baixo será de 4 seg*/ /*forwards diz para o css manter as propriedades, assim o botão não fica voltando*/
}
  
#botão button:hover { /*hover é a função que o seu conteúdo só funcina quando passa o mouse por cima do elemento*/
    outline: 8px solid var(--fundo); /*uma borda aparecerá em volta do botão*/
}
  
#botão span {
    display: block; /*span é uma tag inline (linha), por isso é tornada em block para aceitar a altura e largura*/
    height: 24px;
    width: 64px;
    border-radius: 9999px;
  
    background: var(--fundo);
    border: 1px solid var(--borda);
    backdrop-filter: blur(4px); /*bLur é "embaçar"*/
    -webkit-backdrop-filter: blur(4px); /*o "-webkit..." serve para ativar/permitir o backdrop-filter em alguns aparelhos*/
}


#alinhar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 30vh;
    border-collapse: collapse;
}
img {
    width: 100%;
    width: 400px;
    height: 200px;
}
#um {
    padding-top: 15vh;
}

@keyframes deslizamento { /*keiframes colocas animações*/
    /*abaixo vemos animações para o botão, assim ele poderá deslizar suaviamente de uma ponta a outra*/
    from {
      left: 0;   
    }
    to {
      left: 52%;
    }
  }
  @keyframes deslizamentoVolta {
   from {
    left: 52%;
   } 
   to {
    left: 0;
   }
}